.toolbar{
    display: flex;
}

.toolbar a{
    margin: 3px;
}


.container-fluid,.tab-content,.tab-container,.tab-content { height: 100%!important;}
#tab_editor {height: 100%;}
.toolbar { float: right; position: absolute;right:0;}
