language: node_js
node_js:
  - "node"
  - "10"
before_script:
  - sleep 15
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
env:
  - NODE_CONFIG_ENV=local
  - CC_TEST_REPORTER_ID=53901b8fe6d35edf022cb1c654f61144398408b0b35a32a2990a5aa884512186
before_deploy: "mv .gitignore ..gitignore" 
after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
services:
  mongodb
deploy:
  provider: heroku
  api_key:
    secure: "4a63897d-e32c-400a-9563-8ef938c5f8c5"
  app:
    master: skribo
    staging: skribo
 