<form #infoForm="ngForm">

  <div class="form-group" *ngIf="info">
    <label for="NameInput">Script Name:</label>
    <input type="text" required class="form-control" name="NameInput" [(ngModel)]="info.Name" id="NameInput"
      aria-describedby="nameHelp" placeholder="Enter a name">
    <small id="emailHelp" class="form-text text-muted">every thing needs a name.</small>
  </div>
  <div class="form-group" *ngIf="info">
    <label for="DescriptionInput">Description:</label>
    <textarea class="form-control" name="DescriptionInput" [(ngModel)]="info.Description" id="DescriptionInput"
      aria-describedby="DescriptionHelp" placeholder="Enter a description"></textarea>

    <small id="emailHelp" class="form-text text-muted">it will help you understand what you're doing.</small>
  </div>

  <div class="form-group" *ngIf="info">
   
      <label for="CategoryInput">Category:</label>
    <select name="CategoryInput" class="form-control" [(ngModel)]="info.Category" id="CategoryInput">
      <option> All</option>
      <option *ngFor="let c of categories" [ngValue]="c">{{c}}</option>
    </select>
  </div>



  <div class="form-group" *ngIf="resultsDescriptor && chartTypes">
    <ngx-select-dropdown [config]="config" [options]="chartTypes" [(value)]="resultsDescriptor.chartType" [multiple]="false"></ngx-select-dropdown>
    <app-chart-info [resultSample]="resultSample" [chartDescriptor]="resultsDescriptor.chartDescriptor"
      (chartDescriptorHandler)="chartDescriptorHandler($event)"></app-chart-info>
  </div>

  <div class="form-group" *ngIf="variables">
    <fieldset>
      <legend>Variables</legend>
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let variable of variables">
            <td scope="row">
              {{variable.name}} </td>
            <td>
              {{variable.value | json}}
            </td>
          </tr>
        </tbody>
      </table>
    </fieldset>
  </div>
</form>