<nav class="navbar  navbar-light bg-light">
  <div class="pull-left navbar-header">
    <a class="navbar-brand" href="#">
      <img src="assets/skribo_48.png" width="30" height="30" class="d-inline-block align-top" alt=""> Skribo</a>

  </div>
  <div id="navbarSupportedContent" class="pull-right navbar-header">
    <ul class="navbar-nav">
      <li>        
        <app-login></app-login>
       

      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/adscript/manage">Manage scripts</a>
      </li>


    </ul>

  </div>
</nav>



<router-outlet></router-outlet>