<a class="btn btn-primary xs white" (click)="addRow()" *ngIf="mode==='edit'">

  + Add Variable</a>


<table class="table">
  <thead>
    <tr>
      <th scope="col">Variable</th>
      <th scope="col">Name</th>
      <th scope="col">Name in code</th>

      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let variable of variables; let i=index;">
      <th scope="row">
        <app-variable-field [variable]="variable" [mode]="mode"></app-variable-field>
        <!-- <input type="text" *ngIf="mode==='edit'" class="form-control textbox input-sm" [(ngModel)]="variable.name"> {{variable|json}}
        <label *ngIf="mode!=='edit'">{{variable.name}}
          <i>Skribo_env_{{variable.name}}</i>
        </label> -->
      </th>
    
      <td>

        <input type="text" class="form-control input-sm textbox text-small" [(ngModel)]="variable.name">



      </td>
      <td>


        <i>SkriboEnv.{{variable.name}}</i>

      </td>
      <td>
        <a class="btn btn-success btn-xs" (click)="options(i)">
          <i class="oi oi-list white"></i>
        </a>
      </td>
      <td>
        <a class="btn btn-danger btn-xs" (click)="delRow(i)">
          <i class="icon-bin white"></i>
        </a>
      </td>
    </tr>

  </tbody>
</table>