
<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular-resource.min.js"></script>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 
 <style>
td, th {
  font-size: 40px;
  text-align: right;
}
 </style>
</head>
<body ng-controller="MyController">

  <div class="container">
    <div>
    <div style="float: right; text-align: right;">
          <label>חיפוש</label>

          <input type="text" class="form-control" name="search" style="width: 300px;
    direction: rtl;
    font-size: 40px;
    height: 70px;" ng-model="searchText">   
          </div>
 <div style="clear: both;"></div>
 <div class="col-md-12">

        <div class="table-responsive">   


        <table id="mytable" class="table" style="direction: rtl">
          <thead>                   
            <th></th>
            
        
            <th>שם משפחה</th>
                <th>שם פרטי</th>
           
          </thead>
          <tbody>    
            <tr ng-repeat="user in users | filter:searchText | orderBy:'FirstName'" ng-class="{'bg-primary': user.Checked }">
              <td ><input  style="width: 60px;height: 60px;" type="checkbox" class="form-control" ng-model="user.Checked" ng-checked="user.Checked" ng-change="handleUserChange(user)" /></td>
              <td>{{user.FirstName}}</td>
             
              <td>{{user.LastName}}</td>
              
              
            </tr>
          </tbody>
</table>
 
<script>
    angular.module('myApp', ['ngResource'])
      .controller('MyController', ['$scope', '$resource', function ($scope,$resource) {
        $scope.greetMe = 'World';

        var Users = $resource('users/all');
        Users.query().$promise.then(function(users) {
          $scope.users = users;
        });

    $scope.handleUserChange = function(user)
    {
       
       var Users = $resource('/election/users/userid/'+user._id + '?checked='+user.Checked);
        Users.get().$promise.then(function(users) {
       
        });

    }

      {{/* debugger;
       Window.Alexa.election_users().then( function (result){
      $scope.users = result;

       }) */}}
    

      }]);

    angular.element(document).ready(function() {
      angular.bootstrap(document, ['myApp']);
    });
  </script>



</body>
</html>



